<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>app </title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <nav>
      <h1><a href="/">Note application</a></h1>
      <ul>
        
        <% if (user) { %> 
        <li><%=user.email%></li>
        <li class="anim"><a  href="/">home page</a></li>
    
        <li class="anim" ><a  href="/logout">log out</a></li>
         <% }else{

         %> <li class="anim">
        <a   href=" /signin">signin</a></li>
        <li><a href=" /signup" class="btn">signup</a></li>
          <% } %> 
      </ul>
    </nav>
